* {
    padding: 0;
    margin: 0;
}

.box {
    width: 550px;
    height: 220px;
    margin: 0 auto;
}

.total {
    width: 240px;
    height: 200px;
    background-color: aqua;
    float: left;
}

.inner li {
    list-style: none;
    float: left;
    width: 60px;
    background-color: red;
    text-align: center;
}

#btnList {
    width: 240px;
    height: 200px;
    background-color: cornsilk;
    float: left;
}

#btn01, #btn02, #btn03, #btn04, #btn05, #btn06, #btn07 {
    margin-top: 9px;
    width: 240px;
}